In [1]:
import pandas as pd

df = pd.read_csv("sample_flights.csv")

In [2]:
df

,airline,timeFrom,timeTo,codeFrom,codeTo,duration,type,price,passengerCount,capacity
0,VietJet Air,2025-07-01T08:00,2025-07-01T09:30,SGN,HAN,1h30m,Trực tiếp,1500000,10,180
1,Vietnam Airlines,2025-07-02T10:00,2025-07-02T12:00,HAN,DAD,2h0m,Trực tiếp,2000000,5,180
2,Bamboo Airways,2025-07-03T14:00,2025-07-03T15:45,DAD,SGN,1h45m,1 chặng dừng,1700000,8,180

In [3]:
df.to_excel("sample_flights.xlsx", index=False)