In [1]:
import pandas as pd

df = pd.read_csv("flights_template.csv")

In [2]:
df

,airline,timeFrom,timeTo,codeFrom,codeTo,duration,capacity,passengerCount,price,intermediateStops
0,VietJet Air,2025-07-01T08:00,2025-07-01T09:30,SGN,HAN,1h30m,180,10,1500000,"[{""airport"":""DAD"",""stopDuration"":30},{""airport..."
1,Vietnam Airlines,2025-07-02T10:00,2025-07-02T12:00,HAN,DAD,2h0m,180,5,2000000,[]
2,Bamboo Airways,2025-07-03T14:00,2025-07-03T15:45,DAD,SGN,1h45m,180,8,1700000,"[{""airport"":""HUI"",""stopDuration"":20}]"

In [3]:
df.to_excel("sample_flights.xlsx", index=False)